.background-img {
  background-image: url('/images/background-img.jpg');
  background-repeat: repeat-y;
  background-attachment: inherit;
  background-size: cover;
  background-position-x: center;
  /* background-position: bottom; */
}
